<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Samba.Modules.AccountModule.Properties.Settings.SambaPOS3ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SambaPOS3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>