<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Samba.Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Samba.Presentation.Properties.Settings>
      <setting name="VCHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="VCWidth" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ShellHeight" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="ShellWidth" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="SGHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="SGWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="PEHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="PEWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="LSHeight" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="LSWidth" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="KeyboardHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeyboardWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeyboardTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KeyboardLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowScale" serializeAs="String">
        <value>0</value>
      </setting>
    </Samba.Presentation.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
